<template>
    <div class="table-responsive">
        <div class="form-group">
            <input
                type="text"
                v-model="searchTerm"
                required
                class="form-control"
                placeholder="Search sender, recepient or subject"
                id="search"
                @input="search()"
            />
        </div>
        <table class="table mb-5">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(email, e) in emails" :key="e">
                    <th scope="row">{{ email.id }}</th>
                    <td>{{ email.from }}</td>
                    <td>{{ email.to }}</td>
                    <td>{{ email.subject }}</td>
                    <td>
                        <span
                            :class="
                                email.status === 'Sent'
                                    ? 'text-success'
                                    : 'text-danger'
                            "
                            >{{ email.status }}</span
                        >
                    </td>
                    <td>
                        <a
                            href="#"
                            @click="
                                emailToView = email;
                                viewEmail();
                            "
                            class="pointer"
                            >View Email</a
                        >
                    </td>
                </tr>
            </tbody>
        </table>
        <EmailModal :email="emailToView"></EmailModal>
        <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            align="center"
            @input="searchTerm === '' ? getEmails() : search()"
        ></b-pagination>
    </div>
</template>

<script>
import EmailModal from "./modals/ViewEmail.vue";

export default {
    data() {
        return {
            emails: [],
            isLoading: false,
            searchTerm: "",
            emailToView: {},
            currentPage: 1,
            totalRows: 1,
            perPage: 20,
            offset: 0
        };
    },
    props: {
        onShow: Boolean
    },
    components: {
        EmailModal
    },
    methods: {
        getEmails() {
            this.isLoading = true;
            this.offset = (this.currentPage - 1) * this.perPage;
            axios
                .post("/get-emails", {
                    limit: this.perPage,
                    offset: this.offset
                })
                .then(response => {
                    this.isLoading = false;
                    this.totalRows = response.data.total;
                    this.emails = response.data.emails;
                })
                .catch(error => {
                    this.isLoading = false;
                    this.$bvToast.toast("Failed to get emails", {
                        title: "Error",
                        autoHideDelay: 4000,
                        variant: "danger",
                        solid: true
                    });
                });
        },

        search: debounce(function() {
            if (this.searchTerm !== "") {
                this.offset = (this.currentPage - 1) * this.perPage;
                axios
                    .post("./search", {
                        search: this.searchTerm,
                        limit: this.perPage,
                        offset: this.offset
                    })
                    .then(response => {
                        this.emails = response.data.emails;
                        this.totalRows = response.data.total;
                    })
                    .catch(error => {
                        this.$bvToast.toast("Search Failed", {
                            title: "Error",
                            autoHideDelay: 4000,
                            variant: "danger",
                            solid: true
                        });
                    });
            } else {
                this.getEmails();
            }
        }, 1500),

        viewEmail() {
            this.$bvModal.show("emailModal");
        }
    },
    mounted() {
        this.getEmails();
    },

    watch: {
        onShow: function() {
            if (this.onShow) {
                this.getEmails();
            }
        }
    }
};
</script>

<style lang="scss" scoped>
.pointer {
    cursor: pointer;
}
</style>
