<template>
    <div>
        <section class="d-flex mb-5">
            <span
                class="mr-5 pointer"
                :class="{ active: showSend }"
                @click="
                    showSend = true;
                    showInbox = false;
                "
                >Send Email</span
            >
            <span
                class="pointer"
                :class="{ active: showInbox }"
                @click="
                    showInbox = true;
                    showSend = false;
                "
                >Inbox</span
            >
        </section>
        <form action="#" @submit.prevent="setFiles" v-show="showSend">
            <div class="form-group">
                <label for="sender">From (Sender)</label>
                <input
                    type="email"
                    v-model="from"
                    required
                    class="form-control"
                    id="sender"
                />
            </div>
            <div class="form-group">
                <label for="receiver">To (Receiver)</label>
                <input
                    type="email"
                    v-model="to"
                    required
                    class="form-control"
                    id="receiver"
                />
            </div>
            <div class="form-group">
                <label for="subject">Subject</label>
                <input
                    type="text"
                    v-model="subject"
                    required
                    class="form-control"
                    id="subject"
                />
            </div>
            <div class="form-group">
                <label for="content">Text Content</label>
                <textarea
                    class="form-control"
                    v-model="textContent"
                    id="content"
                    rows="3"
                ></textarea>
            </div>
            <div class="form-group">
                <label for="html-content">HTML Content</label>
                <textarea
                    class="form-control"
                    id="html-content"
                    rows="3"
                    v-model="htmlContent"
                ></textarea>
            </div>
            <b-spinner
                v-show="isLoading"
                variant="primary"
                type="grow"
                label="Spinning"
            ></b-spinner>
            <VueFileAgent
                class="mb-5"
                :multiple="true"
                :deletable="true"
                :meta="true"
                :maxFiles="15"
                :maxSize="'10MB'"
                :helpText="'Add Attachments'"
                :errorText="{
                    size: 'Files should not exceed 10MB in size'
                }"
                v-model="files"
                ref="fileAgent"
                @beforedelete="onBeforeDelete($event)"
            ></VueFileAgent>
            <button
                class="btn btn-success float-right mb-5"
                type="submit"
                :disabled="isLoading"
            >
                Submit
            </button>
        </form>
        <Inbox v-show="showInbox" :onShow="showInbox"></Inbox>
    </div>
</template>

<script>
import Inbox from "./Inbox.vue";
export default {
    data() {
        return {
            from: "",
            to: "",
            subject: "",
            textContent: "",
            htmlContent: "",
            files: [],
            isLoading: false,
            formData: {},
            numberOfAttachments: 0,
            showSend: true,
            showInbox: false
        };
    },
    components: {
        Inbox
    },
    methods: {
        setFiles: function() {
            this.formData = new FormData();

            for (let i = 0; i < this.files.length; i++) {
                this.formData.append(`file${i}`, this.files[i].file);
                this.numberOfAttachments++;
            }
            this.sendEmail();
        },

        onBeforeDelete(fileRecord) {
            if (confirm("Are you sure?")) {
                this.$refs.fileAgent.deleteFileRecord(fileRecord);
            }
        },

        sendEmail() {
            this.isLoading = true;

            const config = {
                headers: { "Content-Type": "multipart/form-data" }
            };

            this.formData.append("from", this.from);
            this.formData.append("to", this.to);
            this.formData.append("subject", this.subject);
            this.formData.append("textContent", this.textContent);
            this.formData.append("htmlContent", this.htmlContent);
            this.formData.append("fileCount", this.numberOfAttachments);

            axios
                .post("/send-email", this.formData, config)
                .then(() => {
                    this.isLoading = false;
                    this.numberOfAttachments = 0;
                    this.$bvToast.toast("Email Sent", {
                        title: "Success",
                        autoHideDelay: 4000,
                        variant: "success",
                        solid: true
                    });
                })
                .catch(error => {
                    console.log(error);
                    this.isLoading = false;
                    this.numberOfAttachments = 0;
                    this.$bvToast.toast("Email Sending failed", {
                        title: "Error",
                        autoHideDelay: 4000,
                        variant: "danger",
                        solid: true
                    });
                });
        }
    }
};
</script>

<style lang="scss" scoped>
.file-upload-btn {
    display: block;
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 6px;
    text-align: center;
    width: 120px;
}

.active {
    font-weight: bold;
    border-bottom: 2px solid #ff0099;
}

.pointer {
    cursor: pointer;
}
</style>
