<template>
    <b-modal
        class="profile-modal mb-4"
        centered
        @click="$bvModal.hide('emailModal')"
        id="emailModal"
        title="Details"
        :hide-footer="true"
        size="lg"
    >
        <div>
            <p class="d-flex">
                <span class="info-label">From:</span>
                <span class="info">{{ email.from }}</span>
            </p>
            <p class="d-flex">
                <span class="info-label">To:</span>
                <span class="info">{{ email.to }}</span>
            </p>
            <p class="d-flex mb-4">
                <span class="info-label">Subject:</span>
                <span class="info">{{ email.subject }}</span>
            </p>
            {{ email.textContent }}
            <br />
            <div v-html="email.htmlContent" class="mb-5"></div>
            <a
                v-for="(file, f) in email.files"
                :key="f"
                :href="'/storage/' + file.file"
                class="mr-5"
                >Attachment {{ f + 1 }}</a
            >
        </div>
    </b-modal>
</template>

<script>
export default {
    name: "EmailModal",
    props: {
        email: Object
    },
    methods: {}
};
</script>

<style lang="scss" scoped>
.info-label {
    width: 100px;
}

.info {
    font-weight: bold;
}
</style>
